* {
    margin:0;
    padding: 0;
}


.clear {
    clear:both;
}
/***phan header****/
.header{

}


/*** top menu **/
#top-menu {
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin:0;
    padding: 0;
    background-color: rgb(223,223,223);
    border-bottom: 3px solid rgb(76,102,164);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}
#top-menu li{
    list-style: none;
    float: left;
    margin:0;
    padding: 0;
}
#top-menu li::after{
	content: '';
	display: block;
	width: 3px;
	height: 32px;
	position: absolute;
	right: 0;
	top: 0;
}
#top-menu li:hover{
	background-color: rgb(76,102,164);
}
#top-menu li:hover:after{
	background: none;
}
#top-menu li:hover a{
	color: #fff;
}
#top-menu li.current::after{
	background: none;
}
#top-menu li a{
	font-size: 12px;
	text-decoration: none;
}
#top-menu a {
    padding: 5px 17px 5px 10px;
    display: block;	
    font-weight: bold;
    color: black;
    text-decoration: none;
}
#top-menu a:hover {
    background-color: #ff9900;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

} 
#top-menu li.current {
    background-color: rgb(76,102,164);

}
#top-menu li.current a {

}
#top-menu li.current a:hover {

}
#menu ul li > .sub-menu{
    display: none;
    position: absolute;
}
#menu ul li:hover .sub-menu{
    display: block;
}
#top-menu #lintrangchu a{
    color: white;

}

input {
    height: 33px;
    clear: both;
    background-color: #f99704;
    margin-left: -6px;
    border-radius: 3px;

}
#text {
    width: 310px;
    margin-left: 114px;
    color: #bdb3a8;
    margin-top: 12px;
}
.anhmenu{
    float: left;
    padding: 0;
    padding: 0;
}


/*** page Gioithieu ****/
/*** page footer****/
.footer{
    background: #ececec;
    margin-top: 20px;
}
#mage_footer2 {
	margin-left: 800px;
}
/*** page Home ****/
a {
    color: black;
}
span {
    background-color: #4C66A4;
    display: block;
    color: white;
    line-height: 28px;
    padding-left: 11px;
}

li {
    list-style: none;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}
.tittle-box {
    font-size: 22px;
    padding-left: 5px;
    border-bottom: 4px solid #FF9900;
    margin-top: 15px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #D6D6D6;
}
.icon_tittle {
    display: inline-block;
    float: left;
    padding-top: 13px;
    padding-right: 10px;
}
.icon_list{
    padding-right: 10px;
}
.tittle-box h3 {
    padding-left: 15px;
    font-size: 15px;
    line-height: 21px;
    padding-top: 8px;
    font-weight: bold;
}
.boder_menu{
    border: 1px dashed #ccc;
}
.boder_menu li a{
    display: block;
}
/*main left*/

#main_left li {
    margin-left: 20px;
    margin-right: 18px;
    line-height: 18px;
    display: block;
    border-bottom: 1px dotted #CCCCCC;
    padding-bottom: 8px;
    padding-top: 8px;
}

#main_left li a:hover {
    text-decoration: none;
    color: antiquewhite;
}
/*main right*/
#main_right h4{
    color: maroon;
    font-weight: bold;
    margin-left: 15px;
}
#main_right li {
    padding-left: 10px;
    line-height: 25px;
    display: block;
    font-size: 18px;
    border-bottom: 1px dotted #CCCCCC;
}

/*-----------css main_center----------*/

.product_item {
    overflow: hidden;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    height: 261px;
    padding: 6px 0px;
    margin-bottom: 10px;
}
.product_item:hover{
    border: 1px solid #ff5e5e;
}
.product_img {
    /* width: 219px; */
    overflow: hidden;
    display: block;
}
.product_img img {
    width: 85%;
}
.action p {
    float: left;
    margin-left: 10px;
    font-size: 13px;
}
.raty{
    display: block;
    text-align: -webkit-center;
}
.price_old {
    text-decoration: line-through;
    color: #555;
    font-weight: normal;
    margin-left: 5px;
}
.conten_product,  .product_list{
    padding-left: 0px;
    padding-right: 0px;
}
.conten_product .col-xs-4{
    padding-left:0;
    padding-right:10px;
}

.box-center {
    margin-bottom: 10px;
}
/*Flexslider css hack*/

.flex-direction-nav a:before {
    font-size: 29px !important;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-caption{
    opacity:0;
}
.flex-caption.bounceInUp{
    opacity:1;
}
@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    75% {
        transform: translate3d(0, 10px, 0);
    }

    90% {
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    animation-name: bounceInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.flexslider ul li{
    position: relative;
}
.flexslider ul .flex-caption{
    position: absolute;
    bottom: 15px;
    padding: 5px 22px;
    background: rgba(255, 255, 255, 0.65);
}
/*End Flexslider css hack*/