* {
	margin:0;
	padding: 0;	
}


.clear {
	clear:both;
}
/*** Begin top menu **/
#top-menu {
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin:0;
	padding: 0;
	background: url(../images/bg-topmenu.jpg) repeat-x scroll ;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;


}
#top-menu li{
	list-style: none;
	float: left;
	margin:0;
	padding: 0;
	position: relative;
	height: 32px;
}
#top-menu li::after{
	content: '';
	display: block;
	width: 3px;
	height: 32px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/split-line.jpg) no-repeat;
}
#top-menu li:hover{
	background-color: rgb(76,102,164);
}
#top-menu li:hover:after{
	background: none;
}
#top-menu li:hover a{
	color: #fff;
}
#top-menu li.current::after{
	background: none;
}
#top-menu li a{
	font-size: 12px;
	text-decoration: none;
}
#top-menu a {
	padding: 0 15px 0 15px;
	display: block;	
	line-height: 32px;
	font-weight: bold;
	color: black;

}
#top-menu a:hover {

} 
#top-menu li.current {
	background-color: rgb(76,102,164);

}
#top-menu li.current a {
	color: #fff;
	
}
#top-menu li.current a:hover {
	
}
.header .input-group{
	padding-top: 30px;
}
.header .cart{
	padding-top: 30px;
}

/*** End top menu ***/

/*** page Home ****/
a {
    color: black;
}
span {
    background-color: #4C66A4;
    display: block;
    color: white;
    line-height: 28px;
    padding-left: 11px;
}

li {
    list-style: none;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}
.tittle-box {
    font-size: 22px;
    padding-left: 5px;
    border-bottom: 4px solid #FF9900;
    margin-top: 15px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #D6D6D6;
}
.icon_tittle {
    display: inline-block;
    float: left;
    padding-top: 13px;
    padding-right: 10px;
}
.icon_list{
    padding-right: 10px;
}
.tittle-box h3 {
    padding-left: 15px;
    font-size: 15px;
    line-height: 21px;
    padding-top: 8px;
    font-weight: bold;
}
.boder_menu{
    border: 1px dashed #ccc;
}
/*main left*/

#main_left li {
    margin-left: 20px;
    margin-right: 18px;
    line-height: 18px;
    display: block;
    border-bottom: 1px dotted #CCCCCC;
    padding-bottom: 8px;
    padding-top: 8px;
}

#main_left li a:hover {
    text-decoration: none;
    color: antiquewhite;
}
/*main right*/
#main_right h4{
    color: maroon;
    font-weight: bold;
    margin-left: 15px;
}
#main_right li {
    padding-left: 10px;
    line-height: 25px;
    display: block;
    font-size: 18px;
    border-bottom: 1px dotted #CCCCCC;
}

/*-----------css main_center----------*/

.product_item {
    overflow: hidden;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    height: 261px;
    padding: 6px 0px;
}
.product_item:hover{
    border: 1px solid #ff5e5e;
}
.product_img {
    /* width: 219px; */
    overflow: hidden;
    display: block;
}
.product_img img {
    width: 85%;
}
.action p {
    float: left;
    margin-left: 10px;
    font-size: 13px;
}
.raty{
    display: block;
    text-align: -webkit-center;
}
.price_old {
    text-decoration: line-through;
    color: #555;
    font-weight: normal;
    margin-left: 5px;
}
.conten_product,  .product_list{
    padding-left: 0px;
    padding-right: 0px;
}

.box-center {
    margin-bottom: 10px;
}
